#carrusel-caja {
    -moz-animation: automatizacion 20s infinite linear;
    -o-animation: automatizacion 10s infinite linear;
    -webkit-animation: automatizacion 10s infinite linear;
    animation: automatizacion 20s infinite linear;

    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    -o-transition: all 1.5sease;
    transition: all 1.5s ease;

    height: 50px;
    width:90%;
    
    
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.imagenes {
    height: 100px;
    width: 90%;
}

.carrusel-elemento {
    float: left;
    width: 90%;
    margin: 1%;
    padding-bottom: 10em;

}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    12% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }
    37% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    67% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    87% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    12% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    37% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    67% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    87% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    12% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    37% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    67% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    87% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}

