#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 5s infinite linear;
    -webkit-animation: automatizacion 5s infinite linear;
    animation: automatizacion 15s infinite linear;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;

    height: 500px;
    width: 200%;
}

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.imagenes {
    height: 500px;
    width: 100%;
}

.carrusel-elemento {
    float: left;
    width: 50%;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    75% {
        margin-left: -100%;
    }


    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    75% {
        margin-left: -100%;
    }


    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }

    25% {
        margin-left: 0;
    }

    50% {
        margin-left: -100%;
    }

    75% {
        margin-left: -100%;
    }


    100% {
        margin-left: 0;
    }
}
