.header {
    background-color: #373DBA;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 100%;
    margin: 0 auto;


}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 60px;
}

.nav-menu {
    display: flex;
    margin: 0;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0  10px;
    line-height: 80px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
    width: max-content;
}

.nav-menu-link {
   
    padding: 8px 12px;
    border-radius: 3px;
}


.nav-menu-link:hover,
.nav-menu-link_active {
    background-color:white;
   color: #373DBA;
    transition: 1s;
    font-style: oblique;
    font-size: large;
    text-shadow: 1px 1px 2px #000000;
}

/* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

/* MOBILE */
@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 10%;
        background-color: #373DBA;
        opacity: 0.5;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;

        text-shadow: 4px 4px 8px #000000;
    }

    .nav-menu-item {
        line-height: 70px;
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #83c5f7;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}