<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Contrato</title>
</head>
<body>
<form th:action="@{/contrato/nuevocontrato}" method="post">
    <h1>Prooveedor</h1>
    <input type="hidden" th:value="${proveedor.getId()}" name="idProveedor">
    <input type="text" th:value="${proveedor.getNombre() +' '+ proveedor.getApellido() }">
    <input type="text" th:value="${proveedor.getDireccion()}">
    <h1>Usuario</h1>
    <input type="hidden" th:value="${usuario.getId()}" name="idUsuario">
    <input type="text" th:value="${usuario.getNombre() +' '+ usuario.getApellido() }">
    <input type="text" th:value="${usuario.getDireccion()}">
</form>

</body>
</html>