<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"></head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>
        <article class="mainh"> 
            <h1 align="center"><u>Equipo de trabajo H soluciones informaticas</u></h1>
            <div>
                <p align="justify"><h3>Equipo de personas conformado a partir de compartir aprendizaje para crear soluciones inform&aacute;ticas integrales a los fines de lograr simplificar la interacci&oacute;n en un entorno Tecnologico</h3></p>
                <div class="containerh">
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Lider Tecnico de proyecto </h4>
                            </div>
                            <div><p >Alberto Carmona</p></div>
                            <div>
                                <a href="mailto: ">    <img src="/img/user/Alberto.jpg"></a>
                            </div>
                        </div>
                    </div>

                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Encargado de Front </h4>
                            </div>
                            <div><p >Andres Zampar</p></div>
                            <div>
                                <a href="mailto:andreszampar@gmail.com"><img src="/img/user/Andres.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Encargado de Back <br> Agile Delivery Manager </h4>
                            </div>
                            <div><p >Jorge Susama</p></div>
                            <div>
                                <a href="mailto:jorgesusama@gmail.com"><img src="/img/user/Jorge.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> SCRUM Master <br> Programador Front end</h4>
                            </div>
                            <div><p > Renzo Bozzini </p></div>
                            <div>
                                <a href="mailto:renzobozzini@gmail.com"><img src="/img/user/Renzo.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Programador </h4>
                            </div>
                            <div><p > Priscila Kreischer Back end</p></div>
                            <div>
                                <a href="mailto:kreischerpriscila@gmail.com"><img src="/img/user/Priscila.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Programador </h4>
                            </div>
                            <div><p > Ana Victoria Aguero Back end </p></div>
                            <div>
                                <a href="mailto:a.vica.a@gmail.com"><img src="/img/user/Victoria.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Programador </h4>
                            </div>
                            <div><p > Martin Bustos Back end </p></div>
                            <div>
                                <a href="mailto: "><img src="/img/user/Martin.jpg"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Programador Front end</h4>
                            </div>
                            <div><p > Alejandro Salerno </p></div>
                            <div>
                                <a href="mailto:lales38@hotmail.com"><img src="/img/user/Alejandro.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Programador </h4>
                            </div>
                            <div><p > David Francisco Puertas Frond end </p></div>
                            <div>
                                <a href="mailto: "><img src="/img/user/David.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="cardh" >
                        <div>
                            <div>
                                <h4> Programador </h4>
                            </div>
                            <div><p > Cristian Liberatore Front end</p></div>
                            <div>
                                <a href="mailto:liberatorecristian@hotmail.com"><img src="/img/user/cristian.jpg"></a>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </article>
        <footer th:replace="frangments/footer:: footer"></footer>
        <script src="/script.js"></script>
    </body>
</html>