<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"</head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"</nav>
        </header>
        <article class="main"> 
        <h1 align="center"><u>Equipo de trabajo H soluciones informaticas</u></h1>
        <div>
            <p align="justify"><h3>Equipo de personas conformado a partir de compartir aprendizaje para crear soluciones inform&aacute;ticas integrales a los fines de lograr simplificar la interacci&oacute;n en un entorno Tecnologico</h3></p>
            <ul>
                <li><h2><u>Lider Tecnico de proyecto</u> Alberto Carmona <a href="mailto: ">contactar</a></h2></li><img src="/img/user/Alberto.jpg" width="120" height="140">
                <li><h3><u>Encargado de Front</u> Andres Zampar <a href="mailto: ">contactar</a></h3></li><img src="/img/user/Andres.jpg" width="150" height="150">
                <li><h3><u>Encargado de Back / Agile Delivery Manager</u> Jorge Susama <a href="mailto:jorgesusama@gmail.com">contactar</a></h3></li><img src="/img/user/Jorge.jpg" width="150" height="150">
                <li><h3><u> SCRUM Master / Programador Renzo Bozzini <a href="mailto:renzobozzini@gmail.com">contactar</a></h3></li><img src="/img/user/Renzo.jpg" width="150" height="150">
                <li><h4>Programadora Priscila Kreischer <a href="mailto:kreischerpriscila@gmail.com">contactar</a></h4></li><img src="/img/user/Priscila.jpg" width="150" height="150">
                <li><h4>Programadora Ana Victoria Aguero <a href="mailto:a.vica.a@gmail.com">contactar</a></h4></li><img src="/img/user/Victoria.png" width="120" height="140">
                <li><h4>Programador Martin Bustos <a href="mailto: ">contactar</a></h4></li><img src="/img/user/Martin.jpg" width="150" height="150">
                <li><h4>Programador Alejandro Salerno <a href="mailto:lales38@hotmail.com">contactar</a></h4></li><img src="/img/user/Alejandro.png" width="150" height="150">
                <li><h4>Programador David Francisco Puertas <a href="mailto: ">contactar</a></h4></li><img src="/img/user/David.png" width="150" height="150"> 
                <li><h4>Programador Cristian Liberatore <a href="mailto:liberatorecristian@hotmail.com">contactar</a></h4></li><img src="/img/user/cristian.jpg" width="150" height="150">
            </ul>
        </div>
        
    </article>
        <footer th:replace="frangments/footer:: footer"></footer>
<script src="/script.js"></script>
</body>
</html>