<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/frangments/head :: head"
</head>

<body class="grid-container">
<header class="header">
    <nav th:replace="/frangments/navbar :: nav"
    </nav>
</header>
<article class="main">
    <!-- LISTA -->

    <h1>Seleccione una Solicitud</h1>

    <div class="container m-5">

        <table id="customers">

            <tr>

                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Acción</th>

            </tr>

            <tbody th:each="solicitud : ${solicitudes}">
            <tr>
                <td hidden th:value="${solicitud.id}" name="idSolicitud"></td>
                <td th:text="${solicitud.estado == false ? 'PENDIENTE' : 'APROBADO'}"></td>
                <td th:text="${solicitud.fechaSolicitud}"></td>
                <td th:text="${solicitud.usuario != null ? solicitud.usuario.nombre : solicitud.proveedor.nombre}"></td>
                <td th:text="${solicitud.usuario != null ? solicitud.usuario.apellido : solicitud.proveedor.apellido}"></td>
                <td th:text="${solicitud.usuario != null ? solicitud.usuario.correo : solicitud.proveedor.correo}"></td>
                <td>
                    <form class="formulario" th:action="@{/solicitudRol/actualizar/}" method="POST"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" name="idSolicitud" th:value="${solicitud.id}">
                        </div>
                        <button type="submit" class="btn btn-primary"> Aprobar</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-holder">

        <button class="button2" onclick='goBack()'>Atrás</button>
        <script>
            function goBack() {
                history.back();
            }
        </script>
    </div>
</article>
<footer th:replace="frangments/footer:: footer"></footer>
<script src="/script.js"></script>
</body>
</html>

