<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"></head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>
        <article class="main"> 
            <!-- LISTA -->

            <h1>Servicios Activos</h1>

            <div  class="containerh">
                <tbody th:each="servicio : ${servicios}" th:if="${servicio.estado == true}">   
                <div class="cardh" >
                    
                    <div>
                        <div>
                            <p hidden th:value="${id}" name="id" ></p>
                            <p th:text="${servicio.rubro}"></p>
                        </div>
                        
                        <div>  
                            <img th:src="@{/imagen/service/__${servicio.id}__}"   alt="${servicio.rubro}"></button>
                        </div>
                        <div><p th:text="${servicio.estado == true ? 'ALTA':'BAJA'}"></p></div>
                        <div>
                            <a th:href="@{/servicio/actualizar/__${servicio.id}__}"><i class="fas fa-feather-alt"></i>
                                    Modificar</a></div>
                    </div>
                </div>
                </tbody>
            </div>
            <h1>Servicios Inactivos</h1>
            <div  class="containerh">
                <tbody th:each="servicio : ${servicios}" th:if="${servicio.estado != true}">   
                <div class="cardh" >
                    
                    <div>
                        <div>
                            <p hidden th:value="${id}" name="id" ></p>
                            <p th:text="${servicio.rubro}"></p>
                        </div>
                        
                        <div>  
                            <img th:src="@{/imagen/service/__${servicio.id}__}"   alt="${servicio.rubro}"></button>
                        </div>
                        <div><p th:text="${servicio.estado == true ? 'ALTA':'BAJA'}"></p></div>
                        <div>
                            <a th:href="@{/servicio/actualizar/__${servicio.id}__}"><i class="fas fa-feather-alt"></i>
                                    Modificar</a></div>
                    </div>
                </div>
                </tbody>
            </div>
            
               
                <div class="btn-holder">

                    <button class="button2" onclick='goBack()'>Atrás</button>
                    <script>
                        function goBack() {
                            history.back();
                        }
                    </script>
                </div>
            
        </article>
        <footer th:replace="frangments/footer:: footer"></footer>
        <script src="/script.js"></script>
    </body>
</html>

