<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"</head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"</nav>
        </header>
        <article class="main">
    <div>Listamos los usuarios</div>
    <div class="container m-5">

        <table >
<h1> Datos de los usuarios </h1>
            <thead>
            
            <tr>
                 <th scope="col">      </th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dirección</th>
                <th scope="col">Telefono</th>
                <th scope="col">Correo</th>
                <th scope="col">Estado</th>
                <th scope="col">Rol</th>
                <th scope="col">Accciones</th>
                <!--  verificar esta linea hasrole       <th scope="col" sec:authorize="hasRole('ADMIN')" colspan="2">Acciones</th>-->
            </tr>
            </thead>
            <tbody th:each="usuario : ${usuarios} ">
            <tr>
                <td ><div>
                        <a><img th:if="${usuario.imagen != null}" class="perfil" th:src="@{/imagen/perfil/__${usuario.id}__}" width="150px"></a>
                                 
                    </div></td>
                <th scope="row" th:text="${usuario.id}" hidden="hidden"></th>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.direccion}"></td>
                <td th:text="${usuario.telefono}"></td>
                <td th:text="${usuario.correo}"></td>
                <td th:text="${usuario.alta == true ? 'ALTA':'BAJA'}"></td>
                <td th:text="${usuario.rol}"></td>

                <td>
                    <div><a th:href="@{/usuario/actualizar/__${usuario.id}__}">Editar</a></div>
                </td>


            </tr>

            </tbody>
        </table>
        
        
    </div>
    <span>
         <button class="button2" onclick='goBack()'>Atrás</button>
            <script>
                function goBack() {
                    history.back();
                }
            </script>
    </span>
    
 </article>
        <footer th:replace="frangments/footer:: footer"></footer>
<script src="/script.js"></script>
</body>
</html>
