<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Services</title>
   <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/jpg" href="/img/logo.jpg"/> 
</head>
<body class="grid-container">
   <header class="header">
            <div><a href="/">
                    <img class="img" src="/img/logo.jpg" alt="Hservice"/></a></div>
        </header>
  <nav class="navbar">NAVBAR</nav>

   <article class="main">
       <div>login</div>
        <form class="" action="#" method="POST">
 <div>
            <input type="text" class="" name="email" placeholder="email">
            <input type="text" class="" name="password" placeholder="contraseña">
     <a href="/panel"> <!-- <button type="submit" class="">ingresar</button>-->
         ingresar</a>
            
        </div>
        </form>

       <a href="/registrar">registro</a>
        <div class="btn-holder">
                
            <button class="button2" onclick='goBack()'>Atrás</button>
            <script>
                function goBack() {
                    history.back();
                }
            </script>
        
        </div>  
    </article>
    <footer class="footer">FOOTER</footer>
    
  </body>
  </html>