<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"></head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>

        <article class="main">

            <main>
                <div th:if="${exito}!=null" class="cardexito" >
                    <div class="card-exito">
                        <h5 class="card-title">Exito</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div class="contenedor__todolog">
                    <div class="caja__traseralog">
                        <div class="caja__trasera-loginlog">
                            <h3>Bienvenido!</h3>
                            <p>Se parte de esta gran comunidad de <br><h3>H-service</h3></p>
                            <a href="/usuario/registrar">

                                <button type="submit">Quiero formar parte!!</button></a>
                        </div>

                    </div>


                    <div class="contenedor__login-registerlog">
                        <!--Login-->
                        <form th:action="@{/logincheck}" class="formulario__loginlog" method="POST">
                            <h2>Iniciar Sesion</h2>
                            <input type="text" class="" name="correo" placeholder="correo">
                            <input type="password" class="" name="password" placeholder="contraseña">

                            <button type="submit" >Ingresar</button>   
                            <!-- <a href="/panel"><div>ingresar</div></a>-->    
                        </form>


                    </div>
                </div>

            </main> 

            <div class="btn-holder">

                <button class="button2" onclick='goBack()'>Atrás</button>
                <script>
                    function goBack() {
                        history.back();
                    }
                </script>

            </div> 

        </article>
        <footer th:replace="frangments/footer:: footer"</footer>
            <script src="/script.js"></script>
    </body>
</html>
