<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"</head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"</nav>
        </header>
        <article class="main">

            <div>
                <h1> Actualizar Servicio </h1>
            </div>


            <div class="container" align="center">
                <form class="formulario" th:action="@{/servicio/actualizar/__${servicio.id}__}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input hidden th:value="${servicio.id}" name="id">
                        <input type="text" class="form-group" name="rubro" placeholder="Actualice el rubro" th:value="${servicio.rubro}">
                    </div> 
                     <label for="lang">Estado</label>
      <select name="Estado" id="lang">
        <option th:value="${servicio.estado}">alta</option>
        <option value="BAJA">BAJA</option>
       
      </select>
                    <br>
                    <div class="form-group">
                        <input type="file" class="form-control" name="archivo">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary"> Guardar</button>
            </div>
        </form>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error 👎</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>


    </div>

    <div class="btn-holder">

        <button class="button2" onclick='goBack()'>Atrás</button>
        <script>
            function goBack() {
                history.back();
            }
        </script>
    </div>
  </article>
        <footer th:replace="frangments/footer:: footer"></footer>
<script src="/script.js"></script>
</body>
</html>


