<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"></head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>
        <article class="main">
    <div>Registo</div>
    <div><h1> Editar </h1>
    </div>


    <div class="container" align="center">
        <form class="formulario" th:action="@{/proveedor/actualizar/__${proveedor.id}__}" method="POST"
              enctype="multipart/form-data">
            <div class="form-group">
                <input hidden th:value="${proveedor.id}" name="id">
                <input type="text" class="form-group" name="nombre" th:value="${proveedor.nombre}">
                <input type="text" class="form-group" name="apellido" th:value="${proveedor.apellido}">
                <input type="text" size="30" class="form-group" name="correo" th:value="${proveedor.correo}">
            </div>

            <div class="form-group">
                <input type="text" class="form-group" name="direccion" th:value="${proveedor.direccion}">
                <input type="text" size="30" class="form-group" name="telefono" th:value="${proveedor.telefono}">
                <br>
                <div class="form-group">

                    <select name="idServicio">
                        <option>Seleccionar Servicio</option>
                        <option th:text="${proveedor.servicio.rubro}" th:value="${proveedor.servicio.id}" selected/>
                        <option th:each="servicio : ${servicio}" th:if="${servicio.rubro != proveedor.servicio.rubro}"
                                th:text="${servicio.rubro}" th:value="${servicio.id}"/>
                    </select>

                    <input type="number" size="30" class="form-group" name="precioXHora"
                           th:value="${proveedor.precioXHora}">
                    <input type="text" size="30" class="form-group" name="experiencia"
                           th:value="${proveedor.experiencia}">

                    <label for="lang">Estado</label>
                    <select name="alta" id="lang">
                        <option th:text="${proveedor.alta ==true ? 'ALTA':'BAJA'}">ALTA</option>
                        <option th:value="${proveedor.alta ==true ? 'BAJA':'ALTA'}"
                                th:text="${proveedor.alta ==true ? 'BAJA':'ALTA'}">BAJA
                        </option>

                    </select>

                </div>

                <div class="form-group"> se oculto las contraseña por seguridad
                    <input hidden class="form-control" name="password" th:value="${proveedor.password}">
                    <input hidden class="form-control" name="password2" th:value="${proveedor.password}">
                </div>
                <br>
                <div class="form-group">
                    <input type="file" class="form-control" name="archivo">
                </div>
                <br>mostrar la imagen

                <br>

                <button type="submit" class="btn btn-primary"> Guardar</button>
            </div>
        </form>

        <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error 👎</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>


    </div>

    <div class="btn-holder">

        <button class="button2" onclick='goBack()'>Atrás</button>
        <script>
            function goBack() {
                history.back();
            }
        </script>
    </div>
</article>
<footer th:replace="frangments/footer:: footer"></footer>
<script src="/script.js"></script>
</body>
</html>
