<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace= "/frangments/head :: head"></head>
    <body>
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>
        <form th:action="@{/palabras/ingresado}" method="post">
            <textarea name="palabras" id="palabras" cols="30" rows="10"></textarea>
            <input type="submit" value="Agregar Palabras">
        </form>
        <footer th:replace="frangments/footer:: footer"></footer>
        <script src="/script.js"></script>
    </body>
</html>
