<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"</head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"</nav>
        </header>
        <article class="main"> 
            
            <h1>Panel de Administrador</h1>
                        
            <div class="link-container">
                <a href="/usuario/lista">Ver todos los usuarios</a>
            </div>
            <div class="link-container">
                <a href="/proveedor/lista">Ver todos los proveedores</a>
            </div>
            <div class="link-container">
                <a href="/servicio/registrar">Crear servicio</a>
            </div>
            <div class="link-container">
                <a href="/servicio/lista">Ver todos los servicios</a>
            </div>




        </article>
        <footer th:replace="frangments/footer:: footer"></footer>
        <script src="/script.js"></script>
    </body>
</html>
