<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"</head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"</nav>
        </header>
        <article class="main"> 
   <div>mostrar toda la info del proveedor</div>
                <div>listar algunos comentarios</div>
        <div>mostrar puntaje en promedio</div> 
                <div>
                    <a href="/contrato">  agregar boton contratar</a></div>
   </article>
        <footer th:replace="frangments/footer:: footer"></footer>
<script src="/script.js"></script>
</body>
</html>