<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"></head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>
        <article class="main">
            <!-- ERROR/EXITO -->
            <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
                <div class="card-body">
                    <h5 class="card-title">Error 👎</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
            <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                <div class="card-body">
                    <h5 class="card-title">Exito!</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>

            <!-- FORMULARIO -->


            <main>
                <div>
                    <h1>PERFIL</h1>
                    <h3 th:if="${session.usuariosession != null}" th:text=" 'Bienvenido '+ ${session.usuariosession.nombre}"></h3>
                </div>
                <div class="container">
                    <a class="d-flex align-items-center">
                        <img th:src="@{/imagen/perfil/__${usuario.id}__}" alt="img_usuario">
                    </a>
                </div>
                <div class="container-fluid m-5 contenedor">

                    <form th:action="@{/perfil/__${usuario.id}__}" method="POST" enctype="multipart/form-data">
                        <label class="mb-2">Ingrese los datos</label>
                        <table class="formServi">
                            <tr>
                                <th>Nombre</th>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control" name="nombre" placeholder="Nombre" th:value="${usuario.nombre}"></td>
                                <td><input type="email" class="form-control" name="correo" placeholder="Email" th:value="${usuario.correo}"></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="file" class="form-control" name="archivo"></td>
                            </tr>
                            <tr>
                                <td><input type="password" class="form-control" name="password" placeholder="Contraseña" th:value="${password}"></td>
                                <td> <input type="password" class="form-control" name="password2" placeholder="Repita Contraseña" th:value="${password2}"></td>
                            </tr>
                        </table>

                        <div class="form-group my-3">

                            <input type="hidden" class="form-control" name="id" th:value="${usuario.id}" >
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 botones">Actualizar</button>
                        <br>
                    </form>  
                    <a href="/inicio"><button class="btn btn-primary mt-3 botones">Volver</button></a>
                </div>
            </main> 
            <div class="btn-holder">

                <button class="button2" onclick='goBack()'>Atrás</button>
                <script>
                    function goBack() {
                        history.back();
                    }
                </script>

            </div>  

        </article>
        <footer th:replace="frangments/footer:: footer"</footer>
            <script src="/script.js"></script>
    </body>
</html>