<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"></head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>

        <article class="main">

            <main>

                <div class="contenedor__todo">
                    <div class="caja__trasera">
                        <div class="caja__trasera-login">
                            <h3>¿Sos Proveedor de algun Servico?</h3>
                            <p>Registrese en nuetra web y llegue a mas Clientes</p>
                            <button th:if="${session.usuariosession == null}" id="btn__iniciar-sesion">Registrarse como Proveedor</button>
                            <button sec:authorize="hasRole('ADMIN')" id="btn__iniciar-sesion">Registrar Proveedor Nuevo</button>
                        </div>
                        <div class="caja__trasera-register">
                            <h3>¿Aún no tienes una cuenta?</h3>
                            <p>Regístrate para encontrar los mejores servicios</p>
                            <button th:if="${session.usuariosession == null}" id="btn__registrarse">Regístrarse como usuario</button>
                            <button sec:authorize="hasRole('ADMIN')" id="btn__registrarse">Regístrar Usuario Nuevo</button>
                        </div>
                    </div>

                    <!--Formulario de Login y registro-->
                    <div class="contenedor__login-register">
                        <!--Login-->
                        <form th:action="@{/proveedor/registro/}" class="formulario__login" method="POST" enctype="multipart/form-data">
                            <h2>Registrar Proveedor</h2>
                            <input type="text" class="form-group" name="nombre" placeholder="Nombre" th:value="${nombre}"  required="">
                            <input type="text" class="form-group" name="apellido" placeholder="Apellido" th:value="${apellido}" required="">
                            <input type="text" size="30" class="form-group" name="correo" placeholder="Direccion de Correo Electronico" th:value="${correo}">
                            <input type="text" class="form-group" name="direccion" placeholder="Domicilio" th:value="${direccion}">
                            <input type="text" size="30" class="form-group" name="telefono" placeholder="Telefono formato Ej. 0xx-1xx-xxxxxx" th:value="${telefono}">
                            
                           
                            
                            <select name="idServicio">
                            <option>Seleccionar Servicio</option>
                            <option th:each="servicio : ${servicio}" 
                                    th:value="${servicio.id}" 
                                    th:text="${servicio.rubro}"/>
                             </select>
                            
                            <input type="number" size="30" class="form-group" name="precioXHora" placeholder="Precio por Hora" th:value="${precioXHora}">
                            <input type="text" size="30" class="form-group" name="experiencia" placeholder="Experiencia" th:value="${experiencia}">
                            <input type="password" class="form-control" name="password" placeholder="PASSWORD"
                                   th:value="${password}">
                            <input type="password" class="form-control" name="password2" placeholder="Repetir PASSWORD"
                                   th:value="${password2}">
                            <input type="file" class="form-control" name="archivo" id="seleccionArchivos" accept="image/*">
                            <img id="imagenPrevisualizacion">


                            <button type="submit" >Registrarse</button>
                        </form>

                        <!--Register-->
                        <form th:action="@{/usuario/registro}" class="formulario__register" method="POST" enctype="multipart/form-data">
                            <h2>Regístrar Usuario</h2>
                            <input type="text" class="form-group" name="nombre" placeholder="Nombre" th:value="${nombre}">
                            <input type="text" class="form-group" name="apellido" placeholder="Apellido" th:value="${apellido}">
                            <input type="text" size="30" class="form-group" name="correo"
                                   placeholder="Direccion de Correo Electronico" th:value="${correo}">

                            <input type="text" class="form-group" name="direccion" placeholder="Domicilio" th:value="${direccion}">
                            <input type="text" size="30" class="form-group" name="telefono"
                                   placeholder="Telefono formato Ej. 0xx-1xx-xxxxxx" th:value="${telefono}">

                            <input type="password" class="form-control" name="password" placeholder="PASSWORD"
                                   th:value="${password}">
                            <input type="password" class="form-control" name="password2" placeholder="Repetir PASSWORD"
                                   th:value="${password2}">
                            <input type="file" class="form-control" name="archivo" id="seleccionArchivosu" accept="image/*">
                            <img id="imagenPrevisualizacionu">


                            <div th:if="${exito}!=null" class="buttonexito" >
                                <div class="card-body">
                                    <h5 class="card-title">Exito!</h5>
                                    <p class="card-text" th:text="${exito}"></p>
                                </div>
                            </div>
                            <div th:if="${error}!=null" class="buttonerror" >
                                <div class="card-body">
                                    <h5 class="card-title"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M450-81q-78-6-145.5-39T187-206.5q-50-53.5-78.5-124T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v19q-17-11-39.5-21.5T799-500q-8-126-99.5-213T480-800q-56 0-105.5 18T284-732l245 245q-19 8-36.5 18.5T458-446L228-676q-32 41-50 90.5T160-480q0 99 53.5 177.5T352-187q18 28 45 57t53 49Zm230-79q59 0 109.5-27t80.5-73q-30-46-80.5-73T680-360q-59 0-109.5 27T490-260q30 46 80.5 73T680-160Zm0 80q-96 0-171.5-50.5T400-260q33-79 108.5-129.5T680-440q96 0 171.5 50.5T960-260q-33 79-108.5 129.5T680-80Zm0-120q-25 0-42.5-17.5T620-260q0-25 17.5-42.5T680-320q25 0 42.5 17.5T740-260q0 25-17.5 42.5T680-200Z"/></svg></h5>
                                    <p class="card-text" th:text="${error}"></p>
                                </div>
                            </div> 

                            <button type="submit">Regístrarse</button>
                        </form>
                    </div>
                </div>

            </main> 




            <!--
                <div class="btn-holder">
            
                    <button class="button2" onclick='goBack()'>Atrás</button>
                    <script>
                        function goBack() {
                            history.back();
                        }
                    </script>
                </div> -->
        </article>
        <footer th:replace="frangments/footer:: footer"></footer>
        <script src="/script.js"></script>
    </body>
</html>
