<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"></head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>

        <article class="main"> 
            <div id="contenedor">
                <div id="columna-izquierda" style="float: left; width: 50%">
                    <form th:action="@{/contrato/solicitudTrabajo}" method="post">

                        <h1>Datos del proveedor</h1>
                        <input type="hidden" th:value="${proveedor.getId()}" name="idProveedor">
                        <img th:src="@{/imagen/perfil/__${proveedor.getId()}__}" alt="">
                        <h1 th:text="${proveedor.getNombre() +' '+ proveedor.getApellido()}"></h1>
                        <h4 th:text="${proveedor.getDireccion()}"></h4>
                        <h4 th:text="${proveedor.getTelefono()}"></h4>
                        <h4 th:text="${proveedor.getCorreo()}"></h4>
                </div>

                <div id="columna-derecha" style="float: right; width: 50%">

                    <h1>Datos del cliente</h1>
                    <img th:src="@{/imagen/perfil/__${usuario.getId()}__}" alt="">
                    <h1 th:text="${usuario.getNombre() +' '+ usuario.getApellido()}"></h1>
                    <h4 th:text="${usuario.getDireccion()}"></h4>
                    <h4 th:text="${usuario.getTelefono()}"></h4>
                    <h4 th:text="${usuario.getCorreo()}"></h4>
                    <textarea name="descTrabajo" id="" cols="30" rows="10">
        Describí el trabajo a realizar
                    </textarea>
                    <input type="submit" value="Contratar" onclick="return confirm('¿Está seguro de que desea contratar este proveedor  ?')">

                    </form>
                </div> 
            </div>

        </article>
        <footer th:replace="frangments/footer:: footer"></footer>
        <script src="/script.js"></script>
    </body>
</html>
