<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/frangments/head :: head"</head>

    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"</nav>
        </header>

<article class="main">

    <main>

            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Sos Proveedor de algun Servico?</h3>
                        <p>Registrese en nuetra web y llegue a mas Clientes</p>
                        <button id="btn__iniciar-sesion">Registrarse como Proveedor</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para encontrar los mejores servicios</p>
                        <button id="btn__registrarse">Regístrarse como usuario</button>
                    </div>
                </div>

                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Login-->
                    <form th:action="@{/proveedor/registro/}" class="formulario__login" method="POST">
                        <h2>Registrar Proveedor</h2>
                        <input type="text" class="form-group" name="nombre" placeholder="Nombre" th:value="${nombre}">
                        <input type="text" class="form-group" name="apellido" placeholder="Apellido" th:value="${apellido}">
                        <input type="text" size="30" class="form-group" name="correo" placeholder="Direccion de Correo Electronico" th:value="${correo}">
                        <input type="text" class="form-group" name="direccion" placeholder="Domicilio" th:value="${direccion}">
                        <input type="text" size="30" class="form-group" name="telefono" placeholder="Telefono formato Ej. 0xx-1xx-xxxxxx" th:value="${telefono}">
                        <input type="text" size="30" class="form-group" name="servicio" placeholder="Servicio" th:value="${servicio}">
                        <input type="number" size="30" class="form-group" name="precioXHora" placeholder="Precio por Hora" th:value="${precioXHora}">
                        <input type="text" size="30" class="form-group" name="experiencia" placeholder="Experiencia" th:value="${experiencia}">
                        <input type="password" class="form-control" name="password" placeholder="PASSWORD"
                        th:value="${password}">
                 <input type="password" class="form-control" name="password2" placeholder="Repetir PASSWORD"
                        th:value="${password2}">
                  <input type="file" class="form-control" name="archivo" id="seleccionArchivos" accept="image/*">
                <img id="imagenPrevisualizacion">
                        
                       
                        <button type="submit" >Registrarse</button>
                    </form>

                    <!--Register-->
                    <form th:action="@{/usuario/registro}" class="formulario__register" method="POST">
                        <h2>Regístrar Usuario</h2>
                        <input type="text" class="form-group" name="nombre" placeholder="Nombre" th:value="${nombre}">
                        <input type="text" class="form-group" name="apellido" placeholder="Apellido" th:value="${apellido}">
                        <input type="text" size="30" class="form-group" name="correo"
                        placeholder="Direccion de Correo Electronico" th:value="${correo}">
            
                        <input type="text" class="form-group" name="direccion" placeholder="Domicilio" th:value="${direccion}">
                        <input type="text" size="30" class="form-group" name="telefono"
                        placeholder="Telefono formato Ej. 0xx-1xx-xxxxxx" th:value="${telefono}">
            
                        <input type="password" class="form-control" name="password" placeholder="PASSWORD"
                        th:value="${password}">
                 <input type="password" class="form-control" name="password2" placeholder="Repetir PASSWORD"
                        th:value="${password2}">
                        <input type="file" class="form-control" name="archivo" id="seleccionArchivosu" accept="image/*">
                <img id="imagenPrevisualizacionu">
           
            
                        <button type="submit">Regístrarse</button>
                    </form>
                </div>
            </div>

      </main> 

    
    
   
<!--
    <div class="btn-holder">

        <button class="button2" onclick='goBack()'>Atrás</button>
        <script>
            function goBack() {
                history.back();
            }
        </script>
    </div> -->
  </article>
        <footer th:replace="frangments/footer:: footer"></footer>
<script src="/script.js"></script>
</body>
</html>
