<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/frangments/head :: head"></head>



    <body class="grid-container">
        <header class="header">
            <nav th:replace="/frangments/navbar :: nav"></nav>
        </header>


        <article class="main">

            <main>

                <div class="contenedor__todo">
                    <div class="caja__trasera">

                        <div class="caja__trasera-login">

                            <h3>¿Aún no tienes una cuenta?</h3>

                            <p>Regístrate para encontrar los mejores servicios</p>

                            <button th:if="${session.usuariosession == null}" id="btn__iniciar-sesion">Registrarse como Usuario</button>
                            <button sec:authorize="hasRole('ADMIN')" id="btn__iniciar-sesion">Registrar Usuario Nuevo</button>
                        </div>
                        <div class="caja__trasera-register">
                            <h3>¿Sos Proveedor de algun Servico?</h3>
                            <p>Registrese en nuetra web y llegue a mas Clientes</p>
                            <button th:if="${session.usuariosession == null}" id="btn__registrarse">Registrarse como Proveedor</button>
                            <button sec:authorize="hasRole('ADMIN')" id="btn__registrarse">Registrar Proveedor Nuevo</button>
                        </div>
                    </div>

                    <!--Formulario de usuarui y proveedor-->
                    <div class="contenedor__login-register">

                        <!--usuario-->
                        <form th:action="@{/usuario/registro}" class="formulario__login" id="formulario" method="POST" enctype="multipart/form-data">
                            <h2>Registrar Usuario</h2>
                            <!-- Grupo: nombre -->
                            <div class="formulario__grupo" id="grupo__nombreu">
                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="nombreu" id="nombreu" placeholder="Nombre" th:value="${nombrep}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese su Nombre.</p>
                            </div>
                            <!-- Grupo: Apellido -->
                            <div class="formulario__grupo" id="grupo__apellidou">

                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="apellidou" id="apellidou" placeholder="Apellido" th:value="${apellido}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese su Apellido.</p>
                            </div>               
                            <!-- Grupo: correo -->
                            <div class="formulario__grupo" id="grupo__correou">

                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="correou" id="correou" placeholder="Correo Electronico" th:value="${correo}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">formato del correo ej: correo@correo.com</p>
                            </div> 

                            <!-- Grupo: domicilio -->
                            <div class="formulario__grupo" id="grupo__direccionu">

                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="direccionu" id="direccionu" placeholder="Domicilio" th:value="${direccion}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese su Domicilio.</p>
                            </div>   
                            <!-- Grupo: telefono -->

                            <div class="formulario__grupo" id="grupo__telefonou">

                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="telefonou" id="telefonou" placeholder="Telefono formato Ej. 0xx-1xx-xxxxxx" th:value="${telefono}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese su N° de Telefono.</p>
                            </div> 
                            <div class="formulario__grupo" id="grupo__password">

                                <div class="formulario__grupo-input">
                                    <input type="password" class="formulario__input" name="password" id="password" placeholder="PASSWORD"
                                           th:value="${password}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">La contraseña tiene que ser de 5 a 12 dígitos.</p>
                            </div>
                            <!-- Grupo: password2 -->


                            <!-- Grupo: Contraseña 2 -->
                            <div class="formulario__grupo" id="grupo__password2">

                                <div class="formulario__grupo-input">
                                    <input type="password" class="formulario__input" name="password2" id="password2"  placeholder="Repetir PASSWORD"
                                           th:value="${password2}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                            </div>

                            <input type="file" class="form-control" name="archivo" id="seleccionArchivosu" accept="image/*">
                            <img id="imagenPrevisualizacionu">




                            <button type="submit">Registrarse</button>
                        </form>


                        <!--proveedor-->
                        <form th:action="@{/proveedor/registro/}" id="formulario" class="formulario__register" method="POST" enctype="multipart/form-data">
                            <h2>Registrar Proveedor</h2>
                            <!-- Grupo: nombre -->
                            <div class="formulario__grupo" id="grupo__nombre">
                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="nombre" id="nombre" placeholder="Nombre" th:value="${nombre}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese su Nombre.</p>
                            </div>
                            <!-- Grupo: Apellido -->
                            <div class="formulario__grupo" id="grupo__apellido">

                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="apellido" id="apellido" placeholder="Apellido" th:value="${apellido}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese su Apellido.</p>
                            </div>               
                            <!-- Grupo: correo -->
                            <div class="formulario__grupo" id="grupo__correo">

                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="correo" id="apellido" placeholder="Correo Electronico" th:value="${correo}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">formato del correo ej: correo@correo.com</p>
                            </div> 


                            <!-- Grupo: domicilio -->
                            <div class="formulario__grupo" id="grupo__direccion">

                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="direccion" id="direccion" placeholder="Domicilio" th:value="${direccion}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese su Domicilio.</p>
                            </div>   
                            <!-- Grupo: telefono -->

                            <div class="formulario__grupo" id="grupo__telefono">

                                <div class="formulario__grupo-input">
                                    <input type="text" size="30" class="formulario__input" name="telefono" id="telefono" placeholder="Telefono formato Ej. 0xx-1xx-xxxxxx" th:value="${telefono}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese su N° de Telefono.</p>
                            </div>   
                            <!-- Grupo: rubro -->
                            <select name="idServicio" class="form-control">

                                <option th:each="servicio : ${servicio}" 
                                        th:value="${servicio.id}" 
                                        th:text="${servicio.rubro}"/>
                            </select>

                            <!-- Grupo: precio -->

                            <div class="formulario__grupo" id="grupo__precioXHora">

                                <div class="formulario__grupo-input">
                                    <input type="number" size="30" class="formulario__input" name="precioXHora" id="precioXHora" placeholder="Precio por Hora" th:value="${precioXHora}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ingrese el precio por hora.</p>
                            </div>   
                            <!-- Grupo: experiencia -->

                            <div class="formulario__grupo" id="grupo__experiencia">

                                <div class="formulario__grupo-input">
                                    <input type="textarea" class="formulario__input" name="experiencia" id="experiencia" placeholder="Experiencia" th:value="${experiencia}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Describa sus habilidades y experiencias profesional. minimo 20 y maximo 400 caracteres</p>
                            </div>   

                            <!-- Grupo: password -->

                            <div class="formulario__grupo" id="grupo__password">

                                <div class="formulario__grupo-input">
                                    <input type="password" class="formulario__input" name="password" id="password" placeholder="PASSWORD"
                                           th:value="${password}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">La contraseña tiene que ser de 5 a 12 dígitos.</p>
                            </div>
                            <!-- Grupo: password2 -->


                            <!-- Grupo: Contraseña 2 -->
                            <div class="formulario__grupo" id="grupo__password2">

                                <div class="formulario__grupo-input">
                                    <input type="password" class="formulario__input" name="password2" id="password2"  placeholder="Repetir PASSWORD"
                                           th:value="${password2}">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                            </div>
                            <!-- Grupo: imagen -->
                            <input type="file" class="form-control" name="archivo" id="seleccionArchivos" accept="image/*">
                            <img id="imagenPrevisualizacion">
                            <!-- Grupo: Terminos y Condiciones
                            <div class="formulario__grupo" id="grupo__terminos">
                                <label class="formulario__label">
                                    <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                                    Acepto los Terminos y Condiciones
                                </label>
                            </div> -->



                            <div class="formulario__grupo formulario__grupo-btn-enviar">
                                <button type="submit" class="formulario__btn">Registrarse</button>
                                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                            </div>
                        </form>

                    </div>
                </div>






                <!--
                    <div class="btn-holder">
                
                        <button class="button2" onclick='goBack()'>Atrás</button>
                        <script>
                            function goBack() {
                                history.back();
                            }
                        </script>
                    </div> -->
        </article>
        <footer th:replace="frangments/footer:: footer"></footer>
        <script src="/script.js"></script>
        <script src="/formulario.js"></script>

        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    </body>
</html>
