<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/frangments/head :: head"></head>

    <body class="grid-container">
       <header class="header">
            <nav th:replace="/frangments/navbar :: nav">    </nav>
        </header>
        <article class="main">

            <div>Registo</div>
            <div><h1> Registar Proveedor </h1>
            </div>


            <div class="container"  align="center">
                <form class="formulariou" th:action="@{/proveedor/registro/}" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-group" name="nombre" placeholder="Nombre" th:value="${nombre}">
                        <input type="text" class="form-group" name="apellido" placeholder="Apellido" th:value="${apellido}">
                        <input type="text" size="30" class="form-group" name="correo" placeholder="Direccion de Correo Electronico" th:value="${correo}">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" class="form-group" name="direccion" placeholder="Domicilio" th:value="${direccion}">
                        <input type="text" size="30" class="form-group" name="telefono" placeholder="Telefono formato Ej. 0xx-1xx-xxxxxx" th:value="${telefono}">
                        <br>
                        <div class="form-group">
                            <input type="text" size="30" class="form-group" name="servicio" placeholder="Servicio" th:value="${servicio}">
                            <input type="number" size="30" class="form-group" name="precioXHora" placeholder="Precio por Hora" th:value="${precioXHora}">
                            <input type="text" size="30" class="form-group" name="experiencia" placeholder="Experiencia" th:value="${experiencia}">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="PASSWORD"
                                   th:value="${password}">
                            <input type="password" class="form-control" name="password2" placeholder="Repetir PASSWORD"
                                   th:value="${password2}">
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="file" class="form-control" name="archivo" >
                        </div>
                        <br>

                       

                        <button type="submit" class="btn btn-primary"> Guardar </button>
                    </div>
                </form>

                <div th:if="${exito}!=null" class="buttonexito" >
                    <div class="card-body">
                        <h5 class="card-title">Exito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                <div th:if="${error}!=null" class="buttonerror" >
                    <div class="card-body">
                        <h5 class="card-title">Error!!<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M450-81q-78-6-145.5-39T187-206.5q-50-53.5-78.5-124T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480v19q-17-11-39.5-21.5T799-500q-8-126-99.5-213T480-800q-56 0-105.5 18T284-732l245 245q-19 8-36.5 18.5T458-446L228-676q-32 41-50 90.5T160-480q0 99 53.5 177.5T352-187q18 28 45 57t53 49Zm230-79q59 0 109.5-27t80.5-73q-30-46-80.5-73T680-360q-59 0-109.5 27T490-260q30 46 80.5 73T680-160Zm0 80q-96 0-171.5-50.5T400-260q33-79 108.5-129.5T680-440q96 0 171.5 50.5T960-260q-33 79-108.5 129.5T680-80Zm0-120q-25 0-42.5-17.5T620-260q0-25 17.5-42.5T680-320q25 0 42.5 17.5T740-260q0 25-17.5 42.5T680-200Z"/></svg></h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div> 


            </div></div>

        <div class="btn-holder">

            <button class="button2" onclick='goBack()'>Atrás</button>
            <script>
                function goBack() {
                    history.back();
                }
            </script>
        </div>
    </article>
    <footer class="footer">FOOTER</footer>

</body>
</html>
