<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head th:replace= "/fragments/head :: head" </head>
    
    <body bgcolor="#373DBA" >
                    
          <div class="container m-5" >

            <table class="table table-dark" align="center" border="1">
                <thead>
                <h1> Datos de los usuarios </h1>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Direccion de Correo Electronico</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')" colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="usuario : ${usuario}"> 
                    <tr>
                        <th scope="row" th:text="${usuario.id}" hidden="hidden" ></th>
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.apellido}"></td>
                        <td th:text="${usuario.correo}"></td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href= "@{/usuario/modificar/__${usuario.id}__}"><i class="fas fa-feather-alt"></i> Modificar </a>
                        </td>

                    </tr>

                </tbody>
            </table>
              <br>
              <br>
            

            <section class="py-5">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto" align="center" >
                        <a th:href="@{/inicio }" class="btn btn-primary my-2">Volver</a>
                        </p>
                    </div>
                </div>
            </section>

        </div>
         <div th:replace ="fragments/footer :: div"> </div>
         <div th:replace ="fragments/script :: div"> </div>
    </body>
</html>
